 Question {{this.nextCounter}})

{{#each this.questions as |question index|}}
  <div id = {{ if (lt index this.nextCounter) "previous-view" "next-view"}} class={{if (eq index this.nextCounter) "show-question" "hide-question"}}>
    <div id="myCarousel" class="">
        <b>{{question.headline}}</b>
        <p>
          {{question.description}}
        </p>
    </div>

    {{!-- {{if (is-equal question.question_type }} --}}
      {{#each question.choices as |item|}}
        {{!-- {{item}} --}}
        {{!-- <div></div> --}}

        <div class="input-group" style="padding-left:10%;">
          <label>
            <input type="radio" name={{item.identifier}} value={{item.label}}>
                {{item.label}}
          </label>
        </div>
        {{!-- <div class="input-group" style="padding-left:10%;">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" aria-label="Radio button for following text input">
            </div>
          </div>
          <label class="form-control"> {{item.label}}</label>
        </div> --}}

      {{/each}}
    {{!-- {{/if}} --}}
    

    {{!-- <div class="" role="listbox"> --}}
      {{!-- <div class="item"> --}}
        {{!-- <div class="container"> --}}
          {{!-- {{question.headline}} <br />
          {{question.headline}} <br />
          {{question.headline}} <br />
          {{question.headline}} <br />
          {{question.headline}} <br />
          {{question.headline}} <br /> --}}

        {{!-- </div> --}}
      {{!-- </div> --}}
    {{!-- </div> --}}
  </div>


{{/each}}
<footer class="page-footer">
  <div>
    <div class="container">
      <div>
        <button class="btn btn-primary" disabled={{if (eq this.nextCounter 0) true false}} {{action "previousQuestion"}}>Previous</button>
        <button class="btn btn-primary next-button" disabled={{if (lt this.questions.length this.nextCounter) true false}} {{action "nextQuestion"}}>Next</button>
      </div>
    </div>
  </div>
</footer>
